#mirage-box { position: relative; }
.mirage-item { position: absolute; width: 120px; height: 350px; z-index: 100; overflow: visible; }
.mirage-item img { position: absolute; top: 0; left: 0; width: 100%; max-width: 100%; max-height: 100%; }
.mirage-item.mirage-first { z-index: 101; }
.mirage-item.mirage-second { z-index: 102; }
.mirage-item.mirage-second.hidden { z-index: 100; }
.mirage-item.mirage-third { z-index: 101; }
.mirage-item:after {
	bottom: 15px;
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
	content: "";
	position: absolute;
	width: 80%;
	margin-left: 10%;
	z-index: -1;
}

.mirage-item .mirage-image { position: absolute; width: 100%; height: 100%; overflow: hidden;}

.mirage-item .mirage-left, .mirage-item .mirage-right { display: none; }
.mirage-item.mirage-first .mirage-left, .mirage-item.mirage-third .mirage-right {
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	display: block;
	z-index: 1000;
}

.mirage-image .hover { display: none; }
.mirage-second .mirage-image .hover {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
	border: 1px solid #222222;
	display: block;
	margin: 110px 90px;
	position: absolute;
	text-align: center;
	width: 150px;
	z-index: 1000;
}

.mirage-second .mirage-image .hover a {
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    font-family: Helvetica,serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.2em;
    padding: 3px 5px;
    text-transform: uppercase;
    width: 100%;
}